// Language
.headerTopBar-lang {
  &__list {
    & > li {
      position: relative;
      padding: 13px 0;
      cursor: pointer;
      & a {
        @extend .fontPrimary;
        @extend .colorSecondary;
        & > i {
          padding-left: 8px;
        }
      }
    }
  }
  &__dropdown {
    @include absolute-left-top();
    top: 120%;
    width: 180px;
    padding: 10px 10px;
    background: $colorWhite;
    @extend .hidden-transition;
    box-shadow: $box-shadow;
    & > li {
      & > a {
        display: block;
        padding: 10px 15px;
      }
      &:hover {
        & > a {
          padding-left: 20px;
          color: $colorPrimary;
        }
      }
    }
  }
  &__list {
    & > li {
      &:hover {
        & > a {
          color: $colorPrimary;
        }
        & > ul {
          @extend .visible-transition;
          top: 100%;
        }
      }
    }
  }
}
