// Header Main Menu
.main-menu {
  &__nav {
    text-align: center;
    @extend .border-top;
    & > ul {
      & > li {
        display: inline-block;
        align-items: center;
        position: relative;
        margin: 0 25px;
        @include respond-below(lg) {
          margin: 0 15px;
        }

        & > a {
          font-size: 17px;
          color: $colorSecondary;
          position: relative;
          display: inline-block;
          padding: 10px 0px;
          font-family: $fontPrimary;
          padding: 27px 0px;

          &::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 0%;
            background: $colorPrimary;
            left: 100%;
            bottom: 0px;
            transition: 0.6s;
            opacity: 0;
            visibility: hidden;
          }
        }

        &:hover > {
          a {
            color: $colorPrimary;
            &::before {
              background: $colorPrimary;
              left: 0;
              width: 100%;
              opacity: 1;
              visibility: visible;
              transition: width 0.6s;
            }
          }
        }

        & > .main-menu__dropdown {
          visibility: hidden;
          transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
          opacity: 0;
          z-index: 100;
          position: absolute;
          top: 100%;
          left: 0;
          width: 250px;
          margin: 0;
          background-color: $colorWhite;
          text-align: left;
          box-shadow: 0px 7px 65px 0px rgba(0, 0, 0, 0.03);
          padding: 20px 0 50px;
          transform: translateX(-20px);
          transform-origin: 0 0 0;

          & > li {
            display: block;
            padding: 8px 30px;
            position: relative;
            &.has-submenu {
              &::after {
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                vertical-align: middle;
                transform: rotate(0deg);
                display: inline-block;
                padding-left: 6px;
                font-size: 12px;
                @include transitionSmooth();
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-45%);
              }
              &:hover {
                &::after {
                  color: $colorPrimary;
                }
              }
            }

            & > a {
              display: inline-block;
              color: $colorSecondary;
              font-size: 15px;
              text-transform: capitalize;
              letter-spacing: 0.1em;
              padding: 0px 0;
              position: relative;
              font-family: $fontSecondary;
              &::before {
                position: absolute;
                content: "";
                width: 0%;
                height: 1px;
                background: $colorPrimary;
                opacity: 0;
                visibility: hidden;
                @include transitionSmooth();
                left: 100%;
                bottom: 0;
              }
              &:hover {
                color: $colorPrimary;
                margin-left: 10px;
                &::before {
                  left: 0;
                  width: 100%;
                  opacity: 1;
                  visibility: visible;
                  transition: width 0.8s ease;
                }
              }
            }
            & > ul {
              &.submenu {
                visibility: hidden;
                transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
                opacity: 0;
                z-index: 100;
                position: absolute;
                top: 0%;
                left: 100%;
                width: 250px;
                margin: 0;
                background-color: $colorWhite;
                text-align: left;
                box-shadow: 0px 7px 65px 0px rgba(0, 0, 0, 0.03);
                padding: 20px 0 50px;
                transform: translateX(-30px);
                transform-origin: 0 0 0;
                margin-left: 8px;
                & > li {
                  display: block;
                  padding: 8px 30px;
                  position: relative;
                  & > a {
                    display: inline-block;
                    color: $colorSecondary;
                    font-size: 15px;
                    text-transform: capitalize;
                    letter-spacing: 0.1em;
                    padding: 0px 0;
                    position: relative;
                    font-family: $fontSecondary;
                    &::before {
                      position: absolute;
                      content: "";
                      width: 0%;
                      height: 1px;
                      background: $colorPrimary;
                      opacity: 0;
                      visibility: hidden;
                      @include transitionSmooth();
                      left: 100%;
                      bottom: 0;
                    }
                    &:hover {
                      color: $colorPrimary;
                      margin-left: 10px;
                      &::before {
                        left: 0;
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                        transition: width 0.8s ease;
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              & > ul {
                &.submenu {
                  opacity: 1;
                  @include transitionSmooth();
                  visibility: visible;
                  transform: translateX(0px);
                }
              }
            }
          }
        }
        &:hover {
          .main-menu {
            &__dropdown {
              opacity: 1;
              @include transitionSmooth();
              visibility: visible;
              top: 100%;
              transform: scaleY(1);
            }
          }
          .mega_menu {
            transform: scaleY(1);
            transition: all 0.3s cubic-bezier(0.3, 0.02, 0, 0.6);
            transition-delay: 0ms;
          }
        }
      }
    }
    &_sub {
      & > a {
        &::after {
          content: "\f107";
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          vertical-align: middle;
          transform: rotate(0deg);
          display: inline-block;
          padding-left: 6px;
          font-size: 12px;
          @include transitionSmooth();
        }
      }

      &:hover {
        & > a {
          &::after {
            transform: rotate(180deg) translateX(-6px);
            @include transitionSmooth();
            transition-delay: 0ms;
          }
        }
      }
    }
  }
}
