<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>{{ title }} {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="assets/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="assets/nice-select/nice-select.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body class="d-flex flex-column h-100">
	<header>
		{% include "header/_header.html" %}
	</header>
	<main role="main" class="site-wrapper overflow-hidden">
		{% block main %}
		{% endblock %}
	</main>

	<footer class="footer mt-auto bg-light">		
		{% include "footer/_footer.html" %}
	</footer>

	<script src="assets/jquery/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/swiper/swiper-bundle.min.js"></script>
	<script src="assets/nice-select/jquery.nice-select.min.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>